---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <div class="bg-blue-300 text-center py-6 my-8 scroll-m-24" id="angebot">
        <h1 class="text-4xl md:text-6xl font-serif">AGB</h1>
    </div>
    <ol class="list-decimal flex flex-col space-y-6 px-6 mx-6">
        <li>
            Mit der Unterschrift des Anmeldeformulars wird der Schülerkreis mit
            der Erteilung von Förder- und Nachhilfestunden bevollmächtigt.
        </li>
        <li>
            Eine Dauer des Unterrichts hängt von den Bedürfnissen und
            Lernschwierigkeiten des Schülers ab. Damit jedoch eine effiziente
            Förderung möglich ist, wird eine Mindestvertragsdauer von 2 Monaten
            festgesetzt. Ausnahmen werden speziell festgelegt und aufgeführt.
        </li>
        <li>
            Der unterzeichnenden Person entstehen durch diesen Vertrag
            monatliche Kosten der Inanspruchnahme der Förderstunden. Die
            monatlichen Gebühren sind einheitlich festgelegt. Über Abweichungen
            entscheidet die Geschäftsleitung in Anbetracht der familiären
            Situation.
        </li>
        <li>
            Die monatlich errechneten Kosten für die Unterrichtsstunden sind zu
            Beginn des Folgemonats zu begleichen.
        </li>
        <li>
            Mit der Anmeldung wird die regelmässige Teilnahme des Schülers am
            Unterricht zu den vereinbarten Zeiten verpflichtend. Bei
            entschuldigtem Fehlen des Schülers am Unterricht werden die
            versäumten Lektionen am Ende des Monats verrechnet und können
            entsprechend vor- oder nachgeholt werden. Die Entschuldigung muss
            bis spätestens am Vorabend des Unterrichtstages bei der Lehrperson
            erfolgen.
        </li>
        <li>
            Unentschuldigtes Fehlen kann aus organisatorischen Gründen nicht
            berücksichtigt werden. Dem Auftraggeber entstehen die Kosten
            entsprechend der besuchten Lektionen. Die Förderung des Schülers
            erfolgt nach bestem Wissen und Gewissen der Lehrkräfte des
            Schülerkreises. Bei der Vermittlung und Anwendung falschen
            fachlichen oder pädagogischen Wissens ist der/die
            Erziehungsberechtigte/en berechtigt, den Vertrag fristlos zu
            kündigen.
        </li>
        <li>
            Bei gravierendem Fehlverhalten des Schülers im Unterricht ist der
            Lehrer berechtigt, den Schüler vom Unterricht auszuschliessen. Für
            die Kosten kommt der/die Erziehungsberechtigte/en auf.
        </li>
        <li>
            Mutwilliges Zerstören von Mobiliar und Schulmaterial durch den
            Schüler, welches Eigentum des Schülerkreises oder anderer
            öffentlicher/privater Institutionen ist, wird in Rechnung der
            Erziehungsberechtigten gestellt.
        </li>
        <li>
            Dieser Vertrag wird auf unbestimmte Zeit abgeschlossen und kann nach
            Ablauf der Mindestförderdauer (vgl. 2) auf Ende des folgenden Monats
            gekündigt werden.
        </li>
    </ol>

    <div class="flex flex-col space-y-6 px-6 mt-6 items-center">
        <a class="btn w-full max-w-sm" href="/anmeldung">zurück</a>
    </div>
</Layout>
