---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <div class="bg-blue-300 text-center py-6 my-8 scroll-m-24" id="angebot">
        <h1 class="text-4xl md:text-6xl font-serif">Anmeldung</h1>
    </div>
    <form action="https://submit-form.com/hO2KAwPpa">
        <div class="flex flex-col space-y-6 px-6 items-center">
            <input id="return" type="hidden" name="_redirect" value="" />
            <input type="hidden" name="_append" value="false" />
            <input
                type="text"
                name="Name Schüler"
                placeholder="Name, Vorname des/der Schülers/in"
                class="input input-bordered w-full max-w-sm"
                required
            />
            <input
                type="text"
                name="Geburtsdatum"
                placeholder="Geburtsdatum"
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="Strasse"
                placeholder="Strasse, Nr."
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="Wohnort"
                placeholder="Wohnort"
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="PLZ"
                placeholder="PLZ"
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="Telefon privat"
                placeholder="Telefon privat"
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="Telefon mobil"
                placeholder="Mobiltelefon"
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="Email Schüler"
                placeholder="E-Mail-Adresse des/der Schülers/in"
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="Name Erziehungsberechtigte"
                placeholder="Name der Erziehungsberechtigten"
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="Email Erziehungsberechtigte"
                placeholder="E-Mail-Adresse der Erziehungsberechtigten"
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="Schule"
                placeholder="Schule / Schulstufe"
                class="input input-bordered w-full max-w-sm"
            />
            <textarea
                name="Bereich"
                class="textarea textarea-bordered w-full max-w-sm h-32"
                placeholder="Bitte geben Sie an, in welchem Bereich wir Sie unterstützen dürfen"
            ></textarea>

            <div class="items-start text-left w-full max-w-sm">
                <p class=""></p>Unterrichtsart
            </div>
            <label
                class="w-full max-w-sm p-3 has-[:checked]:bg-blue-50 has-[:checked]:text-blue-900 has-[:checked]:ring-blue-200"
            >
                <input
                    type="radio"
                    name="Unterrichtsart"
                    value="Gruppenunterricht"
                    class="checked:border-blue-900"
                />
                Gruppenunterricht
            </label>
            <label
                class="w-full max-w-sm p-3 has-[:checked]:bg-blue-50 has-[:checked]:text-blue-900 has-[:checked]:ring-blue-200"
            >
                <input
                    type="radio"
                    name="Unterrichtsart"
                    value="Einzelunterricht"
                    class="checked:border-blue-900"
                />
                Einzelunterricht
            </label>

            <input
                type="text"
                name="Lektionen pro Woche"
                placeholder="Lektionen / Woche"
                class="input input-bordered w-full max-w-sm"
            />
            <input
                type="text"
                name="Mögliche Zeiten"
                placeholder="Mögliche Unterrichtstage (mit Zeitangabe)"
                class="input input-bordered w-full max-w-sm"
            />
                <label class="w-full max-w-sm p-3">
                  <input type="checkbox" class="checkbox" required/>
                  <span class="label-text">Ich erkläre hiermit die <a class="text-blue-500" href="/agb">AGB</a> gelesen zu haben und akzeptiere diese.</span>
                </label>

            <button
                type="submit"
                class="btn bg-blue-900 text-white hover:text-blue-900 w-full max-w-sm"
                >anmelden</button
            >
            <a class="btn w-full max-w-sm" href="/#team">zurück</a>
        </div>
    </form>
</Layout>

<script>
    function setReturnUrl() {
        var inputElement = document.getElementById(
            "return",
        ) as HTMLInputElement;
        if (inputElement) {
            inputElement.value = window.location.host + '/#anmeldung_success';
        }
    }

    setReturnUrl();
</script>