---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <div class="toast mb-5">
        <a class="btn btn-circle glass" href="https://wa.me/41791364638">
            <img src="/img/64px-WhatsApp.svg.png" />
        </a>
    </div>

    <div class="relative w-full overflow-hidden">
        <img
            id="imageSlider"
            src="/img/zimmer1.jpg"
            class="w-full object-cover animate-zoom"
        />
        <div
            class="absolute flex justify-between transform -translate-y-1/2 right-0 top-1/2 text-right text-lg md:text-4xl bg-blue-900/75 pr-5 pl-24 py-4 text-white font-bold"
        >
            <h1 class="font-serif font-light tracking-wider">
                Erfolgreiches Lernen auf allen Schulstufen bis zur Hochschule
            </h1>
        </div>
    </div>

    <div class="bg-blue-300 text-center py-6 my-6 scroll-m-24" id="konzept">
        <h1 class="text-4xl md:text-6xl font-serif">Unser Konzept</h1>
    </div>

    <div class="mt-4 px-6">
        <p class="text-2xl text-center font-light">
            Seit über 20 Jahren steht in unserem Lerninstitut das Lernen bei
            qualifizierten und geschulten Lehrpersonen im Mittelpunkt. Durch die
            langjährige Erfahrung unseres Teams werden Kinder, Jugendliche und
            Erwachsene während der Schulzeit, der Lehre, des Studiums oder
            Weiterbildungen kompetent begleitet und gefördert.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 text-center justify-center">
            <div class="mt-8 text-xl">
                <p class="text-3xl mb-4">Unser Unterricht</p>
                <div
                    class="flex flex-col md:flex-row justify-center items-center md:justify-start"
                >
                    <svg
                        class="h-10 w-10 m-2 text-blue-900"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <path
                            d="M8 13.5v-8a1.5 1.5 0 0 1 3 0v6.5m0 -6.5v-2a1.5 1.5 0 0 1 3 0v8.5m0 -6.5a1.5 1.5 0 0 1 3 0v6.5m0 -4.5a1.5 1.5 0 0 1 3 0v8.5a6 6 0 0 1 -6 6h-2a7 6 0 0 1 -5 -3l-2.7 -5.25a1.4 1.4 0 0 1 2.75 -2l.9 1.75"
                        ></path></svg
                    >
                    <p>steigert die Motivation beim Lernen.</p>
                </div>
                <div
                    class="flex flex-col md:flex-row justify-center items-center md:justify-start"
                >
                    <svg
                        class="h-10 w-10 m-2 text-blue-900"
                        viewBox="0 0 24 24"
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                        <line x1="9" y1="9" x2="9.01" y2="9"></line>
                        <line x1="15" y1="9" x2="15.01" y2="9"></line></svg
                    >
                    <p>steigert die Freude am Lernen.</p>
                </div>
                <div
                    class="flex flex-col md:flex-row justify-center items-center md:justify-start"
                >
                    <svg
                        class="h-10 w-10 m-2 text-blue-900"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
                        ></path>
                        <circle cx="12" cy="7" r="4"></circle></svg
                    >
                    <p>fördert individuell.</p>
                </div>
            </div>

            <div class="mt-8 text-xl">
                <p class="text-3xl mb-4">Im Unterricht</p>
                <div
                    class="flex flex-col md:flex-row justify-center items-center md:justify-start"
                >
                    <svg
                        class="h-10 w-10 m-2 text-blue-900"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <circle cx="12" cy="12" r="1"></circle>
                        <circle cx="12" cy="12" r="5"></circle>
                        <circle cx="12" cy="12" r="9"></circle></svg
                    >
                    <p>begleiten wir die Lernenden zu ihren Zielen.</p>
                </div>
                <div
                    class="flex flex-col md:flex-row justify-center items-center md:justify-start"
                >
                    <svg
                        class="h-10 w-10 m-2 text-blue-900"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
                        ></path>
                    </svg>
                    <p>feiern wir jeden Lernerfolg.</p>
                </div>
                <div
                    class="flex flex-col md:flex-row justify-center items-center md:justify-start"
                >
                    <svg
                        class="h-10 w-10 m-2 text-blue-900"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"
                        ></path>
                        <line x1="14.5" y1="5.5" x2="18.5" y2="9.5"></line>
                        <polyline points="12 8 7 3 3 7 8 12"></polyline>
                        <line x1="7" y1="8" x2="5.5" y2="9.5"></line>
                        <polyline points="16 12 21 17 17 21 12 16"></polyline>
                        <line x1="16" y1="17" x2="14.5" y2="18.5"></line></svg
                    >
                    <p>
                        erwerben die Lernenden nachhaltige und effiziente
                        Strategien.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-blue-300 text-center py-6 my-8 scroll-m-24" id="angebot">
        <h1 class="text-4xl md:text-6xl font-serif">Unser Angebot</h1>
    </div>

    <div class="mt-4 px-6">
        <p class="text-xl mb-4 text-center font-light">
            Dem Schülerkreis-Archimedes-Team ist es von höchster Wichtigkeit,
            den Schülern das Lernen zu erleichtern und sie für den Aufbau ihres
            Wissensschatzes zu begeistern. Unsere Institution stellt dafür ein
            breit gefächertes Angebot bereit:
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 mt-12">
            <img class="object-cover w-96 mx-auto" src="/img/mathe.jpg" />
            <div class="">
                <p class="text-3xl my-4 text-center">Mathematik und Physik</p>
                <ul class="list-disc ml-8">
                    <li>Universität, Hochschule und Technikum</li>
                    <li>Kantons-, Sekundar-, Real- und Primarschule</li>
                    <li>Fachmittelschule</li>
                    <li>Berufsschule</li>
                    <li>Erwachsene</li>
                </ul>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 mt-12">
            <img
                class="mt-8 object-cover w-96 mx-auto"
                src="/img/sprachen.jpg"
            />
            <div>
                <p class="text-3xl my-4 text-center">Sprachen</p>
                <ul class="list-disc ml-8">
                    <li>
                        Deutsch, Französisch, Englisch, Spanisch, Portugiesisch,
                        Italienisch, Latein
                    </li>
                    <li>Universität, Hochschule und Technikum</li>
                    <li>Kantons-, Sekundar-, Real- und Primarschule</li>
                    <li>Fachmittelschule</li>
                    <li>Berufsschule</li>
                    <li>Erwachsene</li>
                    <li>Vorbereitung auf verschiedene Sprachdiplome (A1-C2)</li>
                </ul>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 mt-12">
            <img
                class="mt-8 object-cover w-96 mx-auto"
                src="/img/angebot.jpg"
            />
            <div>
                <p class="text-3xl my-4 text-center">Auf Anfrage</p>
                <ul class="list-disc ml-8">
                    <li>Korrekturlesen</li>
                    <li>Übersetzungen</li>
                    <li>Musiktheorie</li>
                    <li>Informatik (Grundlagen der Programmierung)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bg-blue-300 text-center py-6 my-8 scroll-m-24" id="team">
        <h1 class="text-4xl md:text-6xl font-serif">Unser Team</h1>
    </div>

    <div class="mt-4 px-6">
        <div class="">
            <div
                class="bg-blue-900 font-bold text-white text-center py-2 rounded-t-2xl"
            >
                <p class="">Dein zukünftiger Mathematik- und Physiklehrer</p>
            </div>
            <div class="py-3">
                <p class="px-3">
                    <b>Antônio Peters</b> unterrichtet seit <b>43 Jahren</b> Erwachsene,
                    Jugendliche und Kinder in Mathematik und Physik. Mit viel <b
                        >Kreativität, Einfühlungsvermögen</b
                    > und grosser <b>Virtuosität</b> lässt er die Lernenden den Stoff
                    verstehen.
                </p>
            </div>
        </div>

        <div class="">
            <div
                class="bg-blue-900 font-bold text-white text-center py-2 mt-6 rounded-t-2xl"
            >
                <p class="">
                    Deine zukünftige Deutsch- und Fremdsprachenlehrerin
                </p>
            </div>
            <div class="py-3">
                <p class="px-3">
                    <b>Annella Peters</b> unterrichtet seit über <b>20 Jahren</b
                    > Erwachsene, Jugendliche und Kinder in <b
                        >Deutsch, Französisch, Englisch, Portugiesisch,
                        Spanisch, Italienisch</b
                    > und <b>Latein</b>. Sie ist als <b>Übersetzerin</b>
                    und <b>Dolmetscherin</b> tätig und korrigiert als
                    <b>Lektorin</b> schriftliche Arbeiten in den unterschiedlichsten
                    Bereichen.
                </p>
            </div>
        </div>

        <div class="">
            <div
                class="bg-blue-900 font-bold text-white text-center py-2 mt-6 rounded-t-2xl"
            >
                <p class="">Susanna Seifert</p>
            </div>
            <div class="py-3">
                <p class="px-3">
                    <b>Susanna Seifert</b> ist erfahrene <b>Lehrperson</b> im <b
                        >Primarschulbereich</b
                    >. Ihr Ziel ist es, effizient zu lernen und die eigenen
                    Fähigkeiten auszuschöpfen.
                </p>
            </div>
        </div>

        <div class="">
            <a
                class="btn bg-blue-900 text-white w-full mt-8 rounded-2xl hover:text-blue-900"
                href="/archimedes">Warum Archimedes?</a
            >
        </div>
    </div>

    <div class="bg-blue-300 text-center py-6 my-8 scroll-m-24" id="unterricht">
        <h1 class="text-4xl md:text-6xl font-serif">Unser Unterricht</h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 mt-4 px-6">
        <div class="text-2xl mb-8 md:mx-3 font-light">
            <p class="my-3">Intensive Einzelbetreuung</p>
            <p class="my-3">
                Privatunterricht in Gruppen mit bis zu vier Teilnehmenden
            </p>
            <p class="my-3">
                Online-Unterricht für Lernende aus anderen Kantonen
            </p>
        </div>
        <div class="md:mx-3">
            <h4 class="font-bold mb-3">Unterrichtsort</h4>
            <p>
                Schülerkreis Archimedes<br />Burgstrasse 10<br />8750 Glarus
            </p>
            <h4 class="font-bold mt-8 mb-3">Unterrichtszeit</h4>
            <p>Montag bis Freitag 12:30 bis 22:00</p>
            <p>Termin nach Vereinbarung</p>
        </div>
    </div>

    <div class="bg-blue-300 text-center py-6 my-8 scroll-m-24" id="preis">
        <h1 class="text-4xl md:text-6xl font-serif">Preisübersicht</h1>
    </div>

    <div
        class="grid grid-cols-1 space-y-8 md:grid-cols-2 md:space-x-8 md:space-y-0 px-6"
    >
        <div class="text-center rounded-2xl shadow-xl">
            <div
                class="bg-blue-900 font-bold text-white py-2 my-2 rounded-t-2xl text-xl"
            >
                <p class="">Gruppenunterricht</p>
            </div>
            <p class="text-6xl my-3">Fr. 42</p>
            <p class="my-3">pro Lektion à 50 min</p>
            <div class="bg-blue-300 font-bold py-2 rounded-b-2xl">
                <a href="/anmeldung">Anmelden</a>
            </div>
        </div>

        <div class="text-center rounded-2xl shadow-xl">
            <div
                class="bg-blue-900 font-bold text-white py-2 my-2 rounded-t-2xl text-xl"
            >
                <p class="">Einzelunterricht</p>
            </div>
            <p class="text-6xl my-3">Fr. 76</p>
            <p class="my-3">pro Lektion à 50 min</p>
            <div class="bg-blue-300 font-bold py-2 rounded-b-2xl">
                <a href="/anmeldung">Anmelden</a>
            </div>
        </div>
    </div>

    <div class="bg-blue-300 text-center py-6 my-8 scroll-m-24" id="kontakt">
        <h1 class="text-4xl md:text-6xl font-serif">Kontakt und Feedback</h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 mt-4 px-6">
        <div class="w-full mb-8 md:px-3">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2718.9939447515026!2d9.066922076408458!3d47.04034962690807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47852dadf68eef51%3A0x97a268050aeba2c3!2sSch%C3%BClerkreis%20Archimedes!5e0!3m2!1sen!2sch!4v1693147313818!5m2!1sen!2sch"
                class="w-full h-80"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"></iframe>
        </div>

        <div class="md:px-3">
            <a
                role="button"
                class="btn btn-outline border-blue-900 text-blue-900 hover:text-white hover:bg-blue-900 mx-4 my-6"
                href="/anmeldung">Melden Sie sich hier zum Unterricht an</a
            >
            <p class="mb-6">
                Haben Sie Fragen zu unserem Unterricht oder möchten Sie uns eine
                Rückmeldung geben? Zögern Sie nicht uns zu schreiben. Wir freuen
                und über Ihre Nachricht.
            </p>
            <form action="https://submit-form.com/caNo4qPZ">
                <div class="flex flex-col space-y-3">
                    <input
                        id="contactReturn"
                        type="hidden"
                        name="_redirect"
                        value=""
                    />
                    <input type="hidden" name="_append" value="false" />
                    <input
                        type="text"
                        name="Name"
                        placeholder="Name"
                        class="input input-bordered w-full max-w-sm"
                        required
                    />
                    <input
                        type="text"
                        name="Email"
                        placeholder="E-Mail"
                        class="input input-bordered w-full max-w-sm"
                    />
                    <input
                        type="text"
                        name="Telefonnummer"
                        placeholder="Telefonnummer"
                        class="input input-bordered w-full max-w-sm"
                    />
                    <textarea
                        name="Nachricht"
                        class="textarea textarea-bordered w-full max-w-sm h-32"
                        placeholder="Nachricht"
                        required></textarea>
                    <button
                        type="submit"
                        class="btn bg-blue-900 text-white hover:text-blue-900 w-full max-w-sm"
                        >Senden</button
                    >
                </div>
            </form>
        </div>
    </div>

    <dialog id="kontakt_success" class="modal">
        <div class="modal-box items-center">
            <h3 class="font-bold text-lg text-center my-12">
                Vielen Dank für Ihre Nachricht!
            </h3>
            <a class="btn btn-sm w-full" href="/#kontakt">schliessen</a>
        </div>
    </dialog>

    <dialog id="anmeldung_success" class="modal">
        <div class="modal-box items-center">
            <h3 class="font-bold text-lg text-center my-12">
                Vielen Dank für Ihre Anmeldung!
            </h3>
            <a class="btn btn-sm w-full" href="/">schliessen</a>
        </div>
    </dialog>
</Layout>

<script>
    var images = ["/img/zimmer1.jpg", "/img/zimmer2.jpg", "/img/zimmer3.jpg"];
    var currentIndex = 0;

    function changeImage() {
        currentIndex++;
        if (currentIndex > images.length - 1) {
            currentIndex = 0;
        }
        var imgElement = document.getElementById(
            "imageSlider",
        ) as HTMLImageElement;
        if (imgElement) {
            imgElement.src = images[currentIndex];
        }
    }

    setInterval(changeImage, 5000);

    function getBaseUrl() {
        return window.location.host;
    }

    function setContactReturnUrl() {
        var inputElement = document.getElementById(
            "contactReturn",
        ) as HTMLInputElement;
        if (inputElement) {
            inputElement.value = window.location.host + '/#kontakt_success';
        }
    }

    setContactReturnUrl();
</script>
